[run]
source =
    ui
    modules
omit =
    tests/*
    .venv/*
    venv/*
    env/*
    ui/static/*
    */__pycache__/*

[report]
exclude_lines =
    pragma: no cover
    if __name__ == "__main__":
    if TYPE_CHECKING:
